snippet de
	describe "${1}", ->
		${2}
snippet i
	it "${1}", ->
		${2}
snippet be
	beforeEach ->
		${1}
snippet af
	afterEach ->
		${1}
snippet ex
	expect(${1}).to${2}
snippet con
	console.log ${1}
snippet if
	if ${1}
		${2}
snippet ife
	if ${1}
		${2}
	else
		${3}

