snippet f
	function() {
		${1}
	}
snippet fp
	function(${1}) {
		${2}
	}
snippet i
	it("${1}", function() {
		${2}
	});
snippet de
	describe("${1}", function() {
		${2}
	});
snippet cont
	context("${1}", function() {
		${2}
	});
snippet con
	console.log(${1});
snippet bef
	beforeEach(function() {
		${1}
	});
snippet wf
	waitsFor("${1}", function() {
		${2}
	});
snippet ex
	expect(${1}).to${2}(${3});
